@import'variables';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: $font3;
    button {
        outline: none;
    }
    a {
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }

    button {
        font-family: $font3;
    }
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link, .nav-link, .dropdown-item {
    color: $blue !important;
    font-weight: 500;
    font-size: 17px;

    &:hover {
        text-transform: uppercase;
    
        
    }
}
a.btn {
    color: white !important;
    padding: 10px 40px;
    font-weight: bold;
    &:hover {
        text-transform: capitalize;   
    }

}
.banner-txt {
    h1 {
        font-size: 54px;
        color: $blue;
        font-family: $font;
    }
    
}
img.banner-img {
    width: 400px;
    height: 500px;
}
.text-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
}
.section-title, span.color {
    font-size: 40px;
    font-family: $font2;
    color: $blue;
    
}
.span-title {
    font-family: $font3;
    font-size: 30px;
    color: $blue;
}
.absolute-box {
    position: relative;
    .images {
        position: absolute;
        width: 100%;
        height: 100%;

        img {
            width: 300px;
            height: 350px;
        }

        .img-1 {
            position: absolute;
            top: -30px;
            left: 0px;
            
        }
        .img-2 {
            position: absolute;
            top: 40px;
            left: 400px;
            
        }
        .img-3 {
            position: absolute;
            top: -30px;
            right: 0px;
            
        }
    }
}
#clr1 {
    background-color: $blue;
    width: 100%;
    height: 600px;
    border: 1px solid $blue;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
#clr2 {
    background-color: $yellow;
    width: 100%;
    height: 300px;
    border: 1px solid $yellow;
    margin-bottom: 30px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
#clr3 {
    background-color: $red;
    width: 100%;
    height: 270px;
    border: 1px solid $red;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.clear-box {
    width: 300px;
    height: 250px;
    border: 1px solid $blue;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.price-card {
    border: 1px solid $blue;
    &:hover {
        border: 2px solid $blue;
        transition: all border 1000ms ease-in ;
    }
}

.wavy {
    position: relative;
    background: $blue;
    width: 100%;
    overflow: hidden;
   
}

#topcurve {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#topcurve path {
    fill: $yellow;
}
.blue {
    background-color: $blue;
    color: $primary;
}
section.wave {
    width: 100%;
    min-height: 200px;
}
.wave {
    position: relative;
    // background: $blue;
    &::before {
        content: '';
        position: absolute; 
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: url('/HTML/assets/line.png') ;
        background-size: cover;
    }
    
}
