@import 'variables';

body {
    background-color: whitesmoke;
    h1 {
        color: $dB;
    }
}
.loader_bg {
    position: fixed;
    z-index: 99999;
    background-color: white;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .loader{
      border: 0 solid transparent;
      border-radius: 50%;
      width: 150px;
      height: 150px;
      position: absolute;
      top: calc(50vh - 75px);
      left: calc(50vw - 75px);
  
      &::before, &::after {
        content: '';
        border: 1em solid rgba(#333,0.5);
        border-radius: 50%;
        width: inherit;
        height: inherit;
        position: absolute;
        top: 0;
        left: 0;
        animation: loader 2s linear infinite;
      }
  
      &::before {
        animation-delay: .5s;
  
      }
    }
    .center {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #clr1 {
        background-color: $blue;
        width: 50px;
        height: 70px;
        border: 1px solid $blue;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
        float: right;
    }
    #clr2 {
        background-color: $yellow;
        width: 50px;
        height: 70px;
        border: 1px solid $yellow;
        margin-bottom: 30px;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    }
    #clr3 {
        background-color: $red;
        width: 50px;
        height: 70px;
        border: 1px solid $red;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    }
    .clear-box {
        width: 50px;
        height: 50px;
        h1 {
            font-family: $FONT1;
        }
    }
}
